<!-- Form -->
<form (ngSubmit)="createTraceabilityRequest(traceabilityRequestNewForm.value)"
      [formGroup]="traceabilityRequestNewForm"
      class="mx-auto">

    <!-- Emails -->
    <div *ngFor="let email of traceabilityRequestNewForm.get('emails')['controls']; let i = index;"
         [formArrayName]="'emails'">
        <!--         emails.controls-->

        <!-- Email -->
        <div [formGroupName]="i">
            <div class="form-group row">

                <!-- Input Group -->
                <div class="input-group col">

                    <!-- Prepend -->
                    <div class="input-group-prepend align-self-center">
                        <!-- SVG -->
                        <span class="input-group-text justify-content-center rounded-left">
                            <app-email-svg svgSize="sm"></app-email-svg>
                        </span>
                    </div>

                    <!-- Input -->
                    <input [ngClass]="{ 'is-invalid': email.controls['email'].invalid && (email.controls['email'].touched || email.controls['email'].dirty) }"
                           class="form-control"
                           [formControlName]="'email'"
                           name="email"
                           placeholder="Email {{i+1}} (i.e. {{emailPlaceholder}})"
                           [required]="i === 0"
                           autocomplete="no"
                           type="email">

                    <!-- Append -->
                    <div class="input-group-append">
                        <!-- Add -->
                        <button (click)="addEmail()"
                                *ngIf="(i + 1) === emails.length"
                                class="btn btn-outline-secondary btn-block rounded-right"
                                type="button">
                            <app-plus-svg></app-plus-svg>
                        </button>
                        <!-- Remove -->
                        <button (click)="removeEmail(i)"
                                *ngIf="(i + 1) !== emails.length"
                                class="btn btn-outline-secondary btn-block rounded-right"
                                type="button">
                            <app-minus-svg></app-minus-svg>
                        </button>
                    </div>

                    <!-- Invalid Feedback -->
                    <div *ngIf="email.controls['email'].invalid && (email.controls['email'].touched || email.controls['email'].dirty)"
                         class="invalid-feedback">
                        <div *ngIf="email.controls['email'].errors?.required">
                            Your email address is required.
                        </div>
                        <div *ngIf="email.controls['email'].errors?.pattern">
                            Please provide a valid email address.
                        </div>
                        <div *ngIf="email.controls['email'].errors?.duplicate">
                            TEST
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Part Number -->
    <div class="form-group row">

        <!-- Input Group -->
        <div class="input-group col">

            <!-- Prepend -->
            <div class="input-group-prepend align-self-center">
                <!-- SVG -->
                <span class="input-group-text rounded-left justify-content-center">
                    <app-part-number-svg></app-part-number-svg>
                </span>
            </div>

            <!-- Input -->
            <input [ngClass]="{ 'is-invalid': formControls['partNumber'].invalid && (formControls['partNumber'].touched || formControls['partNumber'].dirty) }"
                   class="form-control rounded-right"
                   [formControlName]="'partNumber'"
                   name="partNumber"
                   placeholder="Part Number"
                   required
                   autocomplete="on"
                   type="text">

            <!-- Invalid Feedback -->
            <div *ngIf="formControls['partNumber'].invalid && (formControls['partNumber'].touched || formControls['partNumber'].dirty)"
                 class="invalid-feedback">
                <div *ngIf="formControls['partNumber'].errors?.required">
                    A part number is required.
                </div>
            </div>
        </div>
    </div>

    <!-- Serial Number -->
    <div class="form-group row">

        <!-- Input Group -->
        <div class="input-group col">

            <!-- Prepend -->
            <div class="input-group-prepend align-self-center">
                <!-- SVG -->
                <span class="input-group-text rounded-left justify-content-center">
                    <app-serial-number-svg></app-serial-number-svg>
                </span>
            </div>

            <!-- Input -->
            <input [ngClass]="{ 'is-invalid': formControls['serialNumber'].invalid && (formControls['serialNumber'].touched || formControls['serialNumber'].dirty) }"
                   class="form-control rounded-right"
                   [formControlName]="'serialNumber'"
                   name="serialNumber"
                   placeholder="Serial Number"
                   autocomplete="on"
                   type="text">

            <!-- Invalid Feedback -->
            <div *ngIf="formControls['serialNumber'].invalid && (formControls['serialNumber'].touched || formControls['serialNumber'].dirty)"
                 class="invalid-feedback">
                <div *ngIf="formControls['serialNumber'].errors?.required">
                    A serial or lot number is required.
                </div>
            </div>
        </div>
    </div>

    <!-- Lot Number -->
    <div class="form-group row">

        <!-- Input Group -->
        <div class="input-group col">

            <!-- Prepend -->
            <div class="input-group-prepend align-self-center">
                <!-- SVG -->
                <span class="input-group-text rounded-left justify-content-center">
                    <app-lot-number-svg></app-lot-number-svg>
                </span>
            </div>

            <!-- Input -->
            <input [ngClass]="{ 'is-invalid': formControls['lotNumber'].invalid && (formControls['lotNumber'].touched || formControls['lotNumber'].dirty) }"
                   class="form-control rounded-right"
                   [formControlName]="'lotNumber'"
                   name="lotNumber"
                   placeholder="Lot Number"
                   autocomplete="on"
                   type="text">

            <!-- Invalid Feedback -->
            <div *ngIf="formControls['lotNumber'].invalid && (formControls['lotNumber'].touched || formControls['lotNumber'].dirty)"
                 class="invalid-feedback">
                <div *ngIf="formControls['lotNumber'].errors?.required">
                    A serial or lot number is required.
                </div>
            </div>
        </div>
    </div>

    <!-- PO Number -->
    <div class="form-group row">

        <!-- Input Group -->
        <div class="input-group col">

            <!-- Prepend -->
            <div class="input-group-prepend align-self-center">
                <!-- SVG -->
                <span class="input-group-text rounded-left justify-content-center">
                    <app-po-number-svg></app-po-number-svg>
                </span>
            </div>

            <!-- Input -->
            <input [formControlName]="'poNumber'"
                   [ngClass]="{ 'is-invalid': formControls['poNumber'].invalid && (formControls['poNumber'].touched || formControls['poNumber'].dirty) }"
                   autocomplete="on"
                   class="form-control rounded-right"
                   name="poNumber"
                   placeholder="PO Number"
                   type="text">
        </div>
    </div>

    <!-- Message -->
    <div class="form-group row">

        <!-- Input Group -->
        <div class="input-group col">

            <!-- Textarea -->
            <textarea rows="4"
                      [ngClass]="{ 'is-invalid': formControls['message'].invalid && (formControls['message'].touched || formControls['message'].dirty) }"
                      class="form-control rounded-right"
                      [formControlName]="'message'"
                      id="message"
                      name="message"
                      placeholder="Add an optional message.">
            </textarea>
        </div>
    </div>

    <!-- Shared Link -->

    <!-- Buttons -->
    <div class="form-group">
        <!-- Request -->
        <button (click)="createTraceabilityRequest(traceabilityRequestNewForm.value)"
                [disabled]="traceabilityRequestNewForm.invalid"
                class="btn btn-primary btn-block rounded"
                type="submit">
            Request
        </button>
    </div>

    <!-- Dev Tools -->
    <app-traceability-dev-tools></app-traceability-dev-tools>

</form>
