<!-- Header -->
<div class="modal-header">
    <!-- Title -->
    <h6 class="modal-title">
        Rename Document
    </h6>
    <!-- Close -->
    <button (click)="closeModal()"
            aria-label="Close"
            class="btn close"
            title="Cancel"
            type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<!-- Body -->
<div class="modal-body">
    <app-traceability-document-rename-form (renamedDocumentEvent)="renamedDocument(document)"
                                           [document]="document"></app-traceability-document-rename-form>
</div>
