<!-- Backed by Blockchain -->
<div class="container-fluid p-0">
    <div class="row no-gutters justify-content-center">
        <div class="col">

            <!-- Header -->
            <section id="header">
                <div class="row no-gutters justify-content-center">
                    <div class="col-10">
                        <h1 class="m-0">
                            Our entire platform and all of our applications are <a class="red_ribbon">backed by blockchain</a>.
                        </h1>
                    </div>
                </div>
            </section>

            <!-- Middle -->
            <section id="middle">
                <div class="row no-gutters justify-content-center">
                    <div class="col-8 text-center">
                        <p class="m-0">
                            We view blockchain as the ultimate facilitator of a comprehensive compliance strategy with the ability to not only
                            satisfy, but exceed, customer, regulatory, statutory, and internal requirements.
                        </p>
                    </div>
                </div>
            </section>

            <!-- Benefits -->
            <section class="benefits">
                <div class="row no-gutters">
                    <div class="col-12 col-md-6 p-5 text-center woodsmoke d-flex align-items-center justify-content-center">
                        <h6 class="m-0">
                            Blockchain enables trust between organizations who do not know each other.
                        </h6>
                    </div>

                    <div class="col-12 col-md-6 p-5 text-center woodsmoke_lighter d-flex align-items-center justify-content-center">
                        <h6 class="m-0">
                            Blockchain is a decentralized structure that enables real-time data sharing among manufacturers, suppliers, and distributors while
                            reducing points of weakness.
                        </h6>
                    </div>

                    <div class="col-12 col-md-6 p-5 text-center alabaster d-flex align-items-center justify-content-center">
                        <h6 class="m-0">
                            Blockchain improves security and privacy by creating an unalterable record of transactions with end-to-end encryption, which
                            reduces fraud and unauthorized activity.
                        </h6>
                    </div>

                    <div class="col-12 col-md-6 p-5 text-center woodsmoke d-flex align-items-center justify-content-center">
                        <h6 class="m-0">
                            Blockchain reduces costs by creating efficiencies that reduce manual tasks such as manipulating data by reporting and auditing.
                        </h6>
                    </div>

                    <div class="col-12 col-md-6 p-5 text-center woodsmoke_lighter d-flex align-items-center justify-content-center">
                        <h6 class="m-0">
                            Blockchain increases speed by eliminating intermediaries so transactions are handled faster than past methods.
                        </h6>
                    </div>

                    <div class="col-12 col-md-6 p-5 text-center alabaster d-flex align-items-center justify-content-center">
                        <h6 class="m-0">
                            Blockchain increases visibility and traceability by tracking the origins of an asset, both tangible
                            (part, product, article, etc.) or intangible (document, drawing, contract, etc.), to confirm they're authentic instead of
                            counterfeit.
                        </h6>
                    </div>

                    <div class="col-12 col-md-6 p-5 text-center woodsmoke d-flex align-items-center justify-content-center">
                        <h6 class="m-0">
                            Blockchain is immutable and ensures transactions can't be changed or deleted.
                        </h6>
                    </div>

                    <div class="col-12 col-md-6 p-5 text-center woodsmoke_lighter d-flex align-items-center justify-content-center">
                        <h6 class="m-0">
                            Blockchain gives an organization control of their data with the ability to decide what to share, with whom and for how long, with
                            these attributes being enforced by smart contracts.
                        </h6>
                    </div>

                    <div class="col-12 col-md-6 p-5 text-center alabaster d-flex align-items-center justify-content-center">
                        <h6 class="m-0">
                            Blockchain converts the value of an asset into a digital token recorded and shared on the blockchain.
                        </h6>
                    </div>

                    <div class="col-12 col-md-6 p-5 text-center woodsmoke d-flex align-items-center justify-content-center">
                        <h6 class="m-0">
                            Blockchain provides a means of compliance for various, and increasingly difficult, regulatory, statutory, and customer
                            requirements.
                        </h6>
                    </div>
                </div>
            </section>

            <!-- Footer -->
            <section id="footer">
                <div class="row no-gutters justify-content-center">
                    <div class="col-10 text-center">
                        <h2 class="m-0">
                            Simple. Transparent. Standardized.
                        </h2>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
