<!-- Breadcrumb -->
<app-breadcrumb></app-breadcrumb>

<!-- Join -->
<div class="container-xl p-3">
    <div class="row no-gutters justify-content-center">
        <div class="col-10 col-sm-9 col-md-8 col-lg-7 col-xl-6">

            <!-- Card -->
            <div class="card">

                <!-- Header -->
                <div class="card-header">
                    <h3>
                        Join Organization
                    </h3>
                    <p class="m-0">
                        Enter one of your organization's confirmed domains
                    </p>
                </div>

                <!-- Body -->
                <div class="card-body">
                    <!-- Form -->
                    <app-company-user-request-form></app-company-user-request-form>
                </div>
            </div>
        </div>
    </div>
</div>
