<!-- Header -->
<app-header>
</app-header>

<!-- Blockchain -->
<div class="container-fluid p-0">
    <div class="row no-gutters justify-content-center">
        <div class="col">

            <!-- Header -->
            <section id="header">
                <div class="row no-gutters justify-content-center">
                    <div class="col-10">
                        <h1 class="m-0">
                            Want to integrate your systems and back them with <a class="red_ribbon">blockchain</a>?
                        </h1>
                    </div>
                </div>
            </section>

            <!-- Middle -->
            <section id="middle">
                <div class="row no-gutters justify-content-center">
                    <div class="col-8 text-center">
                        <p class="m-0">
                            We know that there is no such thing as a one size fits all approach to aerospace and defense
                            requirements and that is why we have a custom blockchain solutions team ready to work with
                            you and discuss your specific needs.
                        </p>
                    </div>
                </div>
            </section>

            <!-- Cards -->
            <section id="cards">
                <div class="row no-gutters justify-content-center">
                    <div class="col p-5">
                        <div class="card-deck">
                            <div class="card text-center">
                                <div class="card-body">
                                    <div class="row no-gutters h-100 align-items-center">
                                        <div class="col">
                                            <h3 class="card-title m-0">
                                                Virtualize and create <a class="red_ribbon">digital twins</a> of your
                                                data
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card text-center">
                                <div class="card-body">
                                    <div class="row no-gutters h-100 align-items-center">
                                        <div class="col">
                                            <h3 class="card-title m-0">
                                                Improve your <a class="red_ribbon">compliance strategy</a> utilizing
                                                existing systems
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card text-center">
                                <div class="card-body">
                                    <div class="row no-gutters h-100 align-items-center">
                                        <div class="col">
                                            <h3 class="card-title m-0">
                                                Modernize your existing <a class="red_ribbon">ERP and processes</a>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Footer -->
            <section id="footer">
                <div class="row no-gutters justify-content-center">
                    <div class="col-10 text-center">
                        <h2 class="m-0">
                            To discuss a custom blockchain solution, contact us at
                            <a class="text-break"
                               href="mailto:{{blockchainSolutionsEmail}}">{{blockchainSolutionsEmail}}</a>.
                        </h2>
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>

<!-- Footer -->
<app-footer>
</app-footer>
