svg {
  display: inline-block;
  font-size: inherit;
  color: inherit;
  vertical-align: -0.125em;
}

.xs {
  width: 15px;
  height: 15px;
}

.lg {
  width: 45px;
  height: 45px;
}

.xl {
  width: 75px;
  height: 75px;
}
