<!-- Document -->
<div class="row no-gutters h-100 justify-content-center p-5">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6">

        <!-- Card -->
        <div class="card">

            <!-- Header -->
            <div class="card-header">
                <h3>
                    Request
                </h3>
                <p class="m-0">
                    Send a request for a document
                </p>
            </div>

            <!-- Body -->
            <div class="card-body">
                <!-- Form -->
                <app-traceability-request-new-form></app-traceability-request-new-form>
            </div>
        </div>
    </div>
</div>
