@import "../../../../../styles/custom-variables";

html {
  scroll-behavior: smooth;
}

svg {
  display: inline-block;
  font-size: inherit;
  color: inherit;
  vertical-align: -0.125em;
  fill: $alabaster;
  width: 1em;
  height: 1em;
}

.container-bg {
  background-color: $woodsmoke_light;
  transition: 0.5s ease;
}

.container-bg:hover {
  background-color: $woodsmoke_lighter;
  transition: 0.5s ease;
  cursor: pointer;
}
