<div class="row no-gutters">
  <div class="col d-flex flex-column h-100 vh-100 min-vh-100 p-0 overflow-auto">

      <!-- Library -->
      <div class="row justify-content-center no-gutters h-100">
          <div class="col h-100 pl-5 pt-5 pb-0 pr-5 overflow-hidden">

              <div>Sender: {{sharing.attributes?.sender}}</div>
              <br />
              <!-- Table -->
              <div class="h-100">
                  <table [dtOptions]="dtOptions"
                      class="table table-bordered table-hover display nowrap w-100"
                      datatable
                      id="dataTable">
              
                      <!-- Header -->
                      <thead class="thead-dark">
                          <tr>
                              <th *ngFor="let colName of colNames; let i = index">
                                  {{colName}}
                              </th>
                          </tr>
                      </thead>

                      <!-- Body -->
                      <tbody>
                          <tr *ngFor="let doc of sharing.attributes?.docs; let i = index">
                              <td>
                                <a href="{{doc.data?.attributes.url}}" target="_blank">{{doc.data?.attributes.name}}</a>
                              </td>
                              <td>{{sharing.attributes?.createdAt | date:'medium'}}</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>