<!-- Upload -->
<div class="row no-gutters">
    <div class="col d-flex flex-column h-100 vh-100 min-vh-100 p-0 overflow-auto">

        <!-- Topbar -->
        <div class="row justify-content-center flex-grow-0 no-gutters">
            <div class="col">
                <app-topbar [menu]="this.topbarMenuItems">
                </app-topbar>
            </div>
        </div>

        <!-- Dynamic Components -->
        <div class="row justify-content-center flex-grow-1 no-gutters">
            <div class="col">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
