<!-- Backed by Blockchain -->
<div class="container-fluid p-0">
    <div class="row no-gutters justify-content-center">
        <div class="col">

            <!-- Header -->
            <section id="header">
                <div class="row no-gutters justify-content-center">
                    <div class="col-10">
                        <h1 class="m-0">
                            Explore our company and product <a class="red_ribbon">announcements</a> and the latest <a class="red_ribbon">media coverage</a>.
                        </h1>
                    </div>
                </div>
            </section>

            <!-- Middle -->
            <section id="middle">
                <div class="row no-gutters justify-content-center">
                    <div class="col-10">

                        <!-- Heading -->
                        <h1 class="mb-5">
                            Press releases
                        </h1>

                        <h3 class="text-center">
                            Stay tuned...
                        </h3>

                        <!--                        &lt;!&ndash; Cards &ndash;&gt;-->
                        <!--                        <div class="card-deck">-->
                        <!--                            &lt;!&ndash; Card &ndash;&gt;-->
                        <!--                            <div *ngFor="let document of documents; let i = index"-->
                        <!--                                 class="col-auto mb-4">-->
                        <!--                                <div class="card mx-auto">-->
                        <!--                                     &lt;!&ndash; PDF Viewer &ndash;&gt; -->
                        <!--                                    <div class="pdf-container">-->
                        <!--                                        <pdf-viewer [original-size]="true"-->
                        <!--                                                    [fit-to-page]="true"-->
                        <!--                                                    [src]=document.filePath>-->
                        <!--                                        </pdf-viewer>-->
                        <!--                                    </div>-->
                        <!--                                </div>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                    </div>
                </div>
            </section>

            <!-- Footer -->
            <section id="footer">
                <div class="row no-gutters justify-content-center">
                    <div class="col-10 text-center">
                        <h2 class="m-0">
                            For media queries, contact us at <a href="mailto:{{pressEmail}}">{{pressEmail}}</a>.
                        </h2>
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>
