svg {
  display: inline-block;
  font-size: inherit;
  color: inherit;
  vertical-align: -0.125em;
}

.xs {
  width: 15px;
  height: 15px;
}

.sm {
  width: 20px;
  height: 20px;
}

.xl {
  width: 100px;
  height: 100px;
}
