<!-- Careers -->
<div class="container-fluid p-0">
    <div class="row no-gutters justify-content-center">
        <div class="col">

            <!-- Header -->
            <section id="header">
                <div class="row no-gutters justify-content-center">
                    <div class="col-10">
                        <h1 class="m-0">
                            Find a <a class="red_ribbon">career</a> where you are valued as much as the bottom line.
                        </h1>
                    </div>
                </div>
            </section>

            <!-- Middle -->
            <section id="middle">
                <div class="row no-gutters justify-content-center">
                    <div class="col-8 text-center">
                        <p class="m-0">
                            We believe in fostering a triple bottom line culture where we evaluate our performance in
                            three dimensions:
                            people (social), profit (financial), and the planet (environmental). Our principles are how
                            we encourage
                            our employees and our suppliers to contribute to this culture.
                        </p>
                    </div>
                </div>
            </section>

            <!-- Principles -->
            <section id="principles">
                <!-- 1st -->
                <div class="row no-gutters justify-content-center">
                    <div class="col-12 col-lg-8 p-5 order-first text-center border-top border-right border-bottom">
                        <h6 class="m-0">
                            {{ourPrincples[0]}}
                        </h6>
                    </div>
                    <div class="col-12 col-lg-4 p-5 order-last border-top border-left border-bottom woodsmoke">
                    </div>
                </div>
                <!-- 2nd -->
                <div class="row no-gutters justify-content-center">
                    <div class="col-12 col-lg-8 p-5 order-first order-sm-first order-md-first order-lg-last text-center border-top border-left border-bottom">
                        <h6 class="m-0">
                            {{ourPrincples[1]}}
                        </h6>
                    </div>
                    <div class="col-12 col-lg-4 p-5 order-last order-sm-last order-md-last order-lg-first border-top border-right border-bottom woodsmoke_lighter">
                    </div>
                </div>
                <!-- 3rd -->
                <div class="row no-gutters justify-content-center">
                    <div class="col-12 col-lg-8 p-5 order-first text-center border-top border-right border-bottom">
                        <h6 class="m-0">
                            {{ourPrincples[2]}}
                        </h6>
                    </div>
                    <div class="col-12 col-lg-4 p-5 order-last border-top border-left border-bottom alabaster">
                    </div>
                </div>
                <!-- 4th -->
                <div class="row no-gutters justify-content-center">
                    <div class="col-12 col-lg-8 p-5 order-first order-sm-first order-md-first order-lg-last text-center border-top border-left border-bottom">
                        <h6 class="m-0">
                            {{ourPrincples[3]}}
                        </h6>
                    </div>
                    <div class="col-12 col-lg-4 p-5 order-last order-sm-last order-md-last order-lg-first border-top border-right border-bottom woodsmoke">
                    </div>
                </div>
                <!-- 5th -->
                <div class="row no-gutters justify-content-center">
                    <div class="col-12 col-lg-8 p-5 order-first text-center border-top border-right border-bottom">
                        <h6 class="m-0">
                            {{ourPrincples[4]}}
                        </h6>
                    </div>
                    <div class="col-12 col-lg-4 p-5 order-last border-top border-left border-bottom woodsmoke_lighter">
                    </div>
                </div>
                <!-- 6th -->
                <div class="row no-gutters justify-content-center">
                    <div class="col-12 col-lg-8 p-5 order-first order-sm-first order-md-first order-lg-last text-center border-top border-left border-bottom">
                        <h6 class="m-0">
                            {{ourPrincples[5]}}
                        </h6>
                    </div>
                    <div class="col-12 col-sm-4 p-5 order-last order-sm-last order-md-last order-lg-first border-top border-right border-bottom alabaster">
                    </div>
                </div>
                <!-- 7th -->
                <div class="row no-gutters justify-content-center">
                    <div class="col-12 col-lg-8 p-5 order-first text-center border-top border-right border-bottom">
                        <h6 class="m-0">
                            {{ourPrincples[6]}}
                        </h6>
                    </div>
                    <div class="col-12 col-lg-4 p-5 order-last border-top border-left border-bottom woodsmoke">
                    </div>
                </div>
                <!-- 8th -->
                <div class="row no-gutters justify-content-center">
                    <div class="col-12 col-lg-8 p-5 order-first order-sm-first order-md-first order-lg-last text-center border-top border-left">
                        <h6 class="m-0">
                            {{ourPrincples[7]}}
                        </h6>
                    </div>
                    <div class="col-12 col-lg-4 p-5 order-last order-sm-last order-md-last order-lg-first border-top border-right woodsmoke_lighter">
                    </div>
                </div>
                <!-- 9th -->
                <div class="row no-gutters justify-content-center">
                    <div class="col-12 col-lg-8 p-5 order-first text-center border-top border-right border-bottom">
                        <h6 class="m-0">
                            {{ourPrincples[8]}}
                        </h6>
                    </div>
                    <div class="col-12 col-lg-4 p-5 order-last border-top border-left border-bottom alabaster">
                    </div>
                </div>
                <!-- 10th -->
                <div class="row no-gutters justify-content-center">
                    <div class="col-12 col-lg-8 p-5 order-first order-sm-first order-md-first order-lg-last text-center border-top border-left border-bottom">
                        <h6 class="m-0">
                            {{ourPrincples[9]}}
                        </h6>
                    </div>
                    <div class="col-12 col-lg-4 p-5 order-last order-sm-last order-md-last order-lg-first border-top border-right border-bottom woodsmoke">
                    </div>
                </div>
            </section>

            <!-- Footer -->
            <section id="footer">
                <div class="row no-gutters justify-content-center">
                    <div class="col-10 text-center">
                        <h2 class="m-0">
                            If you share in our values, send us your resume and connect with us on
                            <a href="{{linkedInUrl}}" target="_blank">LinkedIn</a>.
                        </h2>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
