<!-- about us -->
<div class="container-fluid p-0">
    <div class="row no-gutters justify-content-center">
        <div class="col">

            <!-- Header -->
            <section id="header">
                <div class="row no-gutters justify-content-center">
                    <div class="col-10">
                        <h1 class="m-0">
                            <a class="red_ribbon">Our mission</a> is to simplify the requirements of aerospace and
                            defense by providing next-generation technologies that advance the supply chain.
                        </h1>
                    </div>
                </div>
            </section>

            <!-- Middle -->
            <section id="middle">
                <div class="row no-gutters justify-content-center">
                    <div class="col-10">
                        <h1 class="mb-3">
                            Our story
                        </h1>
                        <h3 class="mb-3">
                            Aeroplicity is building the world's first <a class="red_ribbon">blockchain backed</a>
                            aerospace and defense platform.
                        </h3>
                        <p>
                            Times have changed, the requirements to do business have been raised for all aerospace and
                            defense suppliers. This has left numerous smaller companies either unable to meet certain
                            contractual requirements, unable to compete directly with their larger competitors, or, at
                            the very least, raising their prices to cover their increased expenses. Starting a business
                            or launching a product has also become more complex requiring a larger upfront investment
                            of time, resources, and even knowledge before business can be conducted and revenue
                            generated.
                        </p>
                        <p>
                            We believe there is a simpler way. A way in which small businesses can not only satisfy,
                            but exceed, these requirements with less time, resources, and knowledge than if they were
                            to build out a compliance strategy and externally procure or internally develop tools to
                            help them meet their strategy. While there are numerous tools that may meet a single
                            requirement, our platform aims for every one of our applications to be completely and
                            seamlessly integrated with each other all while being
                            <a [routerLink]="backedByBlockchainPath">backed by blockchain</a>.
                        </p>
                    </div>
                </div>
            </section>

            <!-- Team -->
            <!--                <div id="team">-->
            <!--                </div>-->

            <!-- Footer -->
            <section id="footer">
                <div class="row no-gutters justify-content-center">
                    <div class="col-10 text-center">
                        <h2 class="m-0">
                            If you believe in our mission, <a [routerLink]="careersPath">join us</a> in building it.
                        </h2>
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>
