<!-- Form -->
<form (ngSubmit)="changePassword(userChangePasswordForm.value)"
      [formGroup]="userChangePasswordForm"
      class="mx-auto">

    <!-- Password -->
    <div class="form-group row">

        <!-- Input Group -->
        <div class="input-group col">

            <!-- Prepend -->
            <div class="input-group-prepend align-self-center">
                <!-- SVG -->
                <span class="input-group-text rounded-left justify-content-center">
                    <app-password-svg></app-password-svg>
                </span>
            </div>

            <!-- Input -->
            <input [ngClass]="{ 'is-invalid': formControls['password'].invalid && (formControls['password'].touched || formControls['password'].dirty) }"
                   [type]="showPassword ? 'text' : 'password'"
                   class="form-control"
                   [formControlName]="'password'"
                   name="password"
                   placeholder="New Password"
                   autocomplete="new-password"
                   required>

            <!-- Append -->
            <div class="input-group-append align-self-center">
                <!-- SVG -->
                <div class="input-group-text rounded-right justify-content-center">
                    <div (click)="togglePassword()"
                         *ngIf="showPassword">
                        <app-password-visible-svg></app-password-visible-svg>
                    </div>
                    <div (click)="togglePassword()"
                         *ngIf="!showPassword">
                        <app-password-hidden-svg></app-password-hidden-svg>
                    </div>
                </div>
            </div>

            <!-- Invalid Feedback -->
            <div *ngIf="formControls['password'].invalid && (formControls['password'].touched || formControls['password'].dirty)"
                 class="invalid-feedback">
                <div *ngIf="formControls['password'].errors?.required">
                    A password is required.
                </div>
                <div *ngIf="formControls['password'].errors?.minlength">
                    Passwords must be at least 8 characters.
                </div>
                <div *ngIf="formControls['password'].errors?.maxlength">
                    Passwords must be no more than 64 characters.
                </div>
            </div>
        </div>
    </div>

    <!-- Buttons -->
    <div class="form-group">
        <!-- Change Password -->
        <button [disabled]="userChangePasswordForm.invalid"
                class="btn btn-primary btn-block rounded"
                type="submit">
            Change Password
        </button>
    </div>

    <!-- Dev Tools -->
    <app-user-dev-tools></app-user-dev-tools>

</form>
