svg {
  display: inline-block;
  font-size: inherit;
  color: inherit;
  vertical-align: -0.125em;
  width: 20px;
  height: 20px;
}

input {
  height: 50px;
}

.input-group-prepend {
  height: 50px;
}

.input-group-append {
  height: 50px;
}

.input-group-text {
  width: 50px;
}

.btn {
  height: 50px;
}
