<!-- Breadcrumb -->
<app-breadcrumb></app-breadcrumb>

<!-- Invite Company Users -->
<div class="container-xl p-3">
    <div class="row no-gutters justify-content-center">
        <div class="col-10 col-md-8 col-xl-6">

            <!-- Card -->
            <div class="card">

                <!-- Header -->
                <h5 class="card-header text-center">
                    Invite
                </h5>

                <!-- Body -->
                <div class="card-body">

                    <!-- User Invite Form -->
                    <app-company-user-invite-form></app-company-user-invite-form>
                </div>
            </div>
        </div>
    </div>
</div>
