label {
  height: 50px;
}

input {
  height: 50px;
}

.input-group-prepend {
  height: 50px;
}

.input-group-append {
  height: 50px;
}

.input-group-text {
  width: 50px;
}

.btn {
  height: 50px;
}
