<div class="container-bg">
    <div class="container p-3">
        <div class="row d-flex justify-content-center">

            <!-- Conditions of Use -->
            <div class="col-auto">
                <a [routerLink]="[conditionsOfUsePath]" class="m-0">
                    Conditions of Use
                </a>
            </div>

            <!-- Privacy Notice -->
            <div class="col-auto">
                <a [routerLink]="[privacyNoticePath]" class="m-0">
                    Privacy Notice
                </a>
            </div>

            <!-- Copyright -->
            <div class="col-auto">
                <span class="m-0">
                    &#169; {{ copyrightYear }} Aeroplicity, its subsidiaries, or its affiliates
                </span>
            </div>

        </div>
    </div>
</div>
