<!-- investor relations -->
<div class="container-fluid p-0">
    <div class="row no-gutters justify-content-center">
        <div class="col">

            <!-- header -->
            <section id="header">
                <div class="row no-gutters justify-content-center">
                    <div class="col-10">
                        <h1 class="m-0">
                            We are always looking to discuss opportunities that allow us to expand in <a [routerLink]="aboutUsPath">our mission</a>.
                        </h1>
                    </div>
                </div>
            </section>

            <!-- middle -->
            <section id="middle">
                <div class="row no-gutters justify-content-center">
                    <div class="col-10">
                        <h3 class="mb-3">
                            {{ourStory}}
                        </h3>
                        <p>
                            Aeroplicity is a aerospace and defense platform providing SaaS products that integrate seamlessly with one another all while being
                            backed by blockchain.  Aeroplicity allows aerospace and defense organizations of any size to satisfy, and even exceed,
                            increasingly restrictive and difficult regulatory, statutory, and customer requirements.  To learn more about Aeroplicity, click
                            <a [routerLink]="homePath">here</a>.
                        </p>
                    </div>
                </div>
            </section>

            <!-- footer -->
            <section id="footer">
                <div class="row no-gutters justify-content-center">
                    <div class="col-10 text-center">
                        <h2 class="m-0">
                            If you are a private investor or represent an institutional investor and want to learn more,
                            contact us at
                            <a class="text-break"
                               href="mailto:{{investorRelationsEmail}}">{{investorRelationsEmail}}</a>.
                        </h2>
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>
